<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40368730687-utslu9ivtsdmc8afgfvet4qtaenrgova.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40368730687-utslu9ivtsdmc8afgfvet4qtaenrgova</string>
	<key>API_KEY</key>
	<string>AIzaSyAWln-BSXquAU6U-OQcazCtpVnkP7BB1nU</string>
	<key>GCM_SENDER_ID</key>
	<string>40368730687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kentokun.bz-quiz</string>
	<key>PROJECT_ID</key>
	<string>bz-quiz-e36cd</string>
	<key>STORAGE_BUCKET</key>
	<string>bz-quiz-e36cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40368730687:ios:02afdaf8026eae5ebafe8a</string>
	<key>DATABASE_URL</key>
	<string>https://bz-quiz-e36cd.firebaseio.com</string>
</dict>
</plist>